// =============================================================================
// VARIABLES
// =========

$white: #ffffff


// =============================================================================
// PLACEHOLDERS
// ============

%relative
  width: 100%
  height: 100%
  position: relative

%absolute
  position: absolute
  top: 0
  left: 0


// =============================================================================
// MIXINS
// ======

=absolute($index)
  @extend %absolute
  width: 100%
  height: 100%
  z-index: $index

=expand-collapse($top, $right, $size)
  float: right
  color: $white
  text-transform: uppercase
  padding: #{$top}em #{$right}em 0 0
  font-size: #{$size}em
  cursor: pointer


// =============================================================================
// PUSHDOWN
// ========

body
  margin: 0 auto
  width: 970px
  a
    text-decoration: none
    color: $white

#wrapper
  @extend %relative

#banner
  +absolute(10)
  .banner
    @extend %relative
    .expand
      +absolute(10)
      h3
        +expand-collapse(3, 2, 1)
    .background
      +absolute(0)

#panel
  @extend %absolute
  display: none
  width: 970px
  height: 600px
  .panel
    @extend %relative
    .collapse
      +absolute(10)
      h3
        +expand-collapse(0.5, 2.3, 1.5)
    .background
      +absolute(0)

#extra
  position: relative
  top: 0
  transition: 1.2s ease-in
  display: inline-block
  margin: 100px
