// =============================================================================
// VARIABLES
// =========

$white: #ffffff
$black: #000000
$twitter: #4099FF


// =============================================================================
// MIXINS
// ======

=dimensions($width, $height)
  width: $width
  height: $height

=absolute($index)
  @extend %absolute
  +dimensions(100%, 100%)
  z-index: $index

=expand-collapse($top, $right, $size)
  float: right
  color: $white
  text-transform: uppercase
  padding: #{$top}em #{$right}em 0 0
  font-size: #{$size}em
  cursor: pointer


// =============================================================================
// PLACEHOLDERS
// ============

%relative
  +dimensions(100%, 100%)
  position: relative

%absolute
  position: absolute
  top: 0
  left: 0

%smooth-transition
  -webkit-transition: all .4s
  transition: all .4s


// =============================================================================
// PUSHDOWN
// ========

body
  background-color: $black
  margin: 0 auto
  width: 970px
  -webkit-font-smoothing: antialiased
  a
    text-decoration: none
    color: $black

#wrapper
  @extend %relative

#banner
  +absolute(10)
  .banner
    @extend %relative
    .expand
      +absolute(10)
      h3
        +expand-collapse(3, 1.9, 0.9)
        color: $white
    .background
      +absolute(0)

#panel
  +dimensions(970px, 600px)
  @extend %absolute
  background: url("../images/background_full_black.jpg") no-repeat
  display: none
  .panel
    @extend %relative
    .collapse
      h3
        +expand-collapse(0.5, 2, 1.5)
    #media
      padding-left: 75px
      padding-right: 60px
      clear: right
      #carousel
        +dimensions(250px, 250px)
        float: left
        margin-top: 100px
        .slick-slide
          img
            @extend %smooth-transition
            display: block 
            margin: 0 auto
            &:hover
              opacity: 0.8
      #video
        float: right
        margin-top: 90px
        .video-container
          +dimensions(508px, 288px)
          border: 4px solid #000
          background: #000
        .call-to-action
          text-align: center
          padding-top: 2.5em
          a
            @extend %smooth-transition
            font-size: 1.3em
            text-transform: uppercase
            padding: 10px 44px 4px 44px
            width: 30%
            background: $white
            border-radius: 10px
            color: $black
            border: 2px solid $white
            &:hover
              color: $white
              border: 2px solid $white
              background: $black
    #twitter
      +dimensions(50px, 50px)
      @extend %smooth-transition
      clear: both
      background: $twitter
      float: right
      border-radius: 50%
      margin-right: 65px
      img
        +dimensions(34px, 34px)
        margin: 0 auto
        display: block
        margin-top: 9px
      &:hover
        background: $black

#extra
  position: relative
  top: 0
  transition: 1.5s ease-in-out
  display: inline-block
  margin-top: 100px
  width: 100%
  text-align: center
  p
    color: $white
