// =============================================================================
// VARIABLES
// =========

$white: #ffffff


// =============================================================================
// PLACEHOLDERS
// ============

%relative
  width: 100%
  height: 100%
  position: relative

%absolute
  position: absolute
  top: 0
  left: 0


// =============================================================================
// MIXINS
// ======

=absolute($index)
  @extend %absolute
  width: 100%
  height: 100%
  z-index: $index

=expand-collapse($top, $right, $size)
  float: right
  color: $white
  text-transform: uppercase
  padding: #{$top}em #{$right}em 0 0
  font-size: #{$size}em
  cursor: pointer


// =============================================================================
// PUSHDOWN
// ========

body
  margin: 0 auto
  width: 970px
  a
    text-decoration: none
    color: $white

#wrapper
  @extend %relative

#banner
  +absolute(10)
  .banner
    @extend %relative
    .expand
      +absolute(10)
      h3
        +expand-collapse(3, 1.7, 1)
    .background
      +absolute(0)

#panel
  @extend %absolute
  background: url("../images/background_full.jpg") no-repeat
  display: none
  width: 970px
  height: 600px
  .panel
    @extend %relative
    .collapse
      h3
        +expand-collapse(0.5, 2, 1.5)
    #media
      padding-left: 75px
      #carousel
        float: left
        width: 250px
        height: 250px
        margin-top: 180px
        .slick-slide
          img
            display: block 
            margin: 0 auto
      #video
        float: right
        width: 500px
        height: 280px
        background: #000
        margin-top: 165px

#extra
  position: relative
  top: 0
  transition: 1.5s ease-in-out
  display: inline-block
  margin-top: 100px
  width: 100%
  text-align: center
