#wrapper
  #banner
    .banner
      .expand
        %h3= link_to "expand", "#"
      .background
        %a{href: "http://www.coach.com", target: "_blank"}
          = image_tag("../images/background_top_banner.jpg")
  #panel
    .panel
      .collapse
        %h3= link_to "✖", "#"
      #media
        #carousel.slider
          .item
            %a{href: "http://www.coach.com/coach-designer-handbags-coach-swagger-carryall-in-colorblock-leather/34420.html", target: "_blank"}
              %img{src: "../assets/images/coach-swagger-leather-34420.png", alt: "Coach Swagger Carryall in Colorblock Leather"}/
          .item
            %a{href: "http://www.coach.com/coach-designer-handbags-coach-swagger-carryall-in-pebble-leather/35796.html", target: "_blank"}
              %img{src: "../assets/images/coach-swagger-pebble-35796.png", alt: "Coach Swagger Carryall in Pebble Leather"}/
          .item
            %a{href: "http://www.coach.com/coach-designer-handbags-prairie-satchel-in-whiplash-leather/34339.html", target: "_blank"}
              %img{src: "../assets/images/coach-prairie-satchel-34339.png", alt: "Coach Prairie Satchel in Whiplash Leather"}/
        #video
          .video-container
            %a{href: "https://www.youtube.com/watch?v=ZiorYdIwH3M", target: "_blank"}
              %video#coach-video.video-js.vjs-default-skin{controls: "", height: "280", width: "500"}
                %source{:src => "../assets/videos/introducing-coach-swagger.mp4", :type => "video/mp4"}
              
          .call-to-action
            %a.shop-now{href: "http://www.coach.com/shop/women-new-arrivals-new-arrivals", target: "_blank"}
              shop now
      #twitter
        %a{href: "#", target: "_blank"}
          %img{src: "../assets/images/twitter.png", alt: "Twitter Logo"}/

#extra
  .extra
    %p Hello Mr. Ghavami!
