#wrapper
  #banner
    .banner
      .expand
        %h3= link_to "expand", "#"
      .background
        = image_tag("../images/background_top_banner.jpg")
  #panel
    .panel
      .collapse
        %h3= link_to "✖", "#"
      #media
        #carousel.slider
          .item
            %a{href: "http://www.coach.com/coach-designer-handbags-coach-swagger-carryall-in-colorblock-leather/34420.html"}
              %img{src: "../assets/images/coach-swagger-leather-34420.png", target: "_blank", alt: "Coach Swagger Carryall in Colorblock Leather"}/
          .item
            %a{href: "http://www.coach.com/coach-designer-handbags-coach-swagger-carryall-in-pebble-leather/35796.html"}
              %img{src: "../assets/images/coach-swagger-pebble-35796.png", target: "_blank", alt: "Coach Swagger Carryall in Pebble Leather"}/
          .item
            %a{href: "http://www.coach.com/coach-designer-handbags-prairie-satchel-in-whiplash-leather/34339.html"}
              %img{src: "../assets/images/coach-prairie-satchel-34339.png", target: "_blank", alt: "Coach Prairie Satchel in Whiplash Leather"}/
        #video
          %h3 Video

#extra
  .extra
    %p Hello Mr. Ghavami!
