#wrapper
  #banner
    .banner
      .expand
        %h3= link_to "expand", "#"
      .background
        = image_tag("../images/background_top_banner.jpg")
  #panel
    .panel
      .collapse
        %h3= link_to "✖", "#"
      .background
        = image_tag("../images/background_full.jpg")
